In [ ]:
!pip install Numpy

**1.List**

In [1]:
# Create a list of 10 integers
numbers = [12, 45, 7, 89, 23, 56, 34, 90, 11, 67]
print("Original list:", numbers)

# Find sum, min, max
print("Sum:", sum(numbers))
print("Minimum:", min(numbers))
print("Maximum:", max(numbers))

# Add a new element
numbers.append(100)
print("\nAfter adding 100:", numbers)

# Remove an element
numbers.remove(23)
print("After removing 23:", numbers)

# Update an element
numbers[2] = 200
print("After updating 3rd element to 200:", numbers)

# Sort in ascending order
asc_list = sorted(numbers)
print("\nAscending order:", asc_list)

# Sort in descending order
desc_list = sorted(numbers, reverse=True)
print("Descending order:", desc_list)

Original list: [12, 45, 7, 89, 23, 56, 34, 90, 11, 67]
Sum: 434
Minimum: 7
Maximum: 90

After adding 100: [12, 45, 7, 89, 23, 56, 34, 90, 11, 67, 100]
After removing 23: [12, 45, 7, 89, 56, 34, 90, 11, 67, 100]
After updating 3rd element to 200: [12, 45, 200, 89, 56, 34, 90, 11, 67, 100]

Ascending order: [11, 12, 34, 45, 56, 67, 89, 90, 100, 200]
Descending order: [200, 100, 90, 89, 67, 56, 45, 34, 12, 11]

**2.Tuples**

In [12]:
fruits = ("Apple", "Banana", "Mango", "Orange", "Grapes")
print("Original tuple:", fruits)

# Convert to list
fruits_list = list(fruits)

# Modify element
fruits_list[2] = "Pineapple"

# Convert back to tuple
fruits = tuple(fruits_list)
print("Modified tuple:", fruits)

Original tuple: ('Apple', 'Banana', 'Mango', 'Orange', 'Grapes')
Modified tuple: ('Apple', 'Banana', 'Pineapple', 'Orange', 'Grapes')

**4.Dictionaries**

```
# This is formatted as code
```

In [17]:
# Create dictionary with student names and marks
students = {
    "Ali": 85,
    "Sara": 92,
    "Ahmed": 78,
    "Zara": 88,
    "Usman": 95
}

# Print keys (student names)
print("Student Names (Keys):", students.keys())

# Print values (marks)
print("Marks (Values):", students.values())

# Print keys and values together
print("\nStudent Marks List:")
for name, marks in students.items():
    print(name, ":", marks)




print("Before update:", students)
# Update marks for an existing key
students["Ahmed"] = 90   # change Ahmed's marks from 78 â†’ 90

print("After update:", students)

Student Names (Keys): dict_keys(['Ali', 'Sara', 'Ahmed', 'Zara', 'Usman'])
Marks (Values): dict_values([85, 92, 78, 88, 95])

Student Marks List:
Ali : 85
Sara : 92
Ahmed : 78
Zara : 88
Usman : 95
Before update: {'Ali': 85, 'Sara': 92, 'Ahmed': 78, 'Zara': 88, 'Usman': 95}
After update: {'Ali': 85, 'Sara': 92, 'Ahmed': 90, 'Zara': 88, 'Usman': 95}

**3.Sets**

In [14]:
# Create two sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}

print("Set 1:", set1)
print("Set 2:", set2)

# Union (all unique elements from both sets)
union_set = set1 | set2
print("\nUnion (all elements):", union_set)

# Intersection (common elements)
sum_common = set1 & set2
print("Common elements (sum_common):", sum_common)

# Difference (unique elements in each set)
unique_set1 = set1 - set2   # in set1 but not in set2
unique_set2 = set2 - set1   # in set2 but not in set1
print("Unique in Set1:", unique_set1)
print("Unique in Set2:", unique_set2)

Set 1: {1, 2, 3, 4, 5, 6}
Set 2: {4, 5, 6, 7, 8, 9}

Union (all elements): {1, 2, 3, 4, 5, 6, 7, 8, 9}
Common elements (sum_common): {4, 5, 6}
Unique in Set1: {1, 2, 3}
Unique in Set2: {8, 9, 7}

**5.Numpy**

 **6.Matplot Lib**